body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
}

h1 {
    font-size: 50px;
}

#technologies {

    font-size: 30px;
}

#tools {
    font-size: 30px;
}

#others {

    font-size: 30px;
}





